.relatives-grid a{
	text-decoration: none;
}
.relatives .relatives-grid .relative-title{
	background: none;
	font-size: 32px;
	font-weight: bold;
	padding: 20px 0;
	display: flex;
	align-self: center;
	justify-self: center;
	margin:  0px;
	padding:  0px;
	position: relative;
	text-decoration: none;
	font-family: 'Alegreya', serif;
	font-weight: 900;
	font-style: italic;
}
.relatives .relatives-grid .relative-title:hover{
	background: none;
	transform: scale(1.1);
}
.relatives .relatives-grid .relatives-grid-unit-1 .relative-title{
	font-size: 32px;
}
.relatives .relatives-grid .relatives-grid-unit-3 .relative-title{
	font-size: 50px;
	line-height: 44px;
}
.relatives .relatives-grid [class*="relatives-grid-unit-"]:after{
	width: 0 !important;
}
.logohome img{
    -webkit-transform: scale(1.2);
}
.logohome:hover img{
    -webkit-transform: scale(1.3);
}
.home-slider .story-target{
    top: 52%;   
}
.postrelatives{
    padding-top:150px;   
}
.homerelatives{
    paddding-top:0px !important;   
}
.new-relatives-grid{
    margin-top:-20px;   
}
footer p{
    width: 50%;
    margin: 0 auto 40px;
    font-family: proxima;
    font-size: 28px;
    
}
.text-container p{
	font-size: 20px;
	font-family: 'Alegreya', serif;
}
.figcaption, .home-slider .quote{
	font-family: 'Alegreya', serif;
	
}
.home-slider .quote{
	font-size: 32px;
}
.cta{
	font-weight: bold;
}
.home-intro p{
	font-size: 28px;
	width: 50%;
	margin: 150px auto 0;
	text-align: center;
	font-family: proxima;
}
.colophon, .colophon a:link, .colophon:visited{
    font-size: 14px; 
    color: lightgrey;
    text-decoration: none;
}

footer h3{
    margin-bottom: 0px;   
}
.logo-footer {
width: 55%;
max-width: 1200px;
margin: 150px auto -36px;
display: block;
}
section.family-at-a-glance{
	padding-top: 20px;
}
section.family-at-a-glance ul{
	padding-left: 0;
}
section.family-at-a-glance li{
	width: 50%;
}
section.family-at-a-glance .family-title, section.family-at-a-glance li{
	font-family: proxima;
	font-weight: bold;
	text-align: center;
}

.summary p{
	font-family: proxima;
	font-weight: bold;
	margin: 0 0 25px 0;
	text-align: center;
}
section.text-container.pull-up{
	padding-top: 30px;
}
h3.homepageheader{
    text-align: center;
    margin:70px 0 10px;
    font-weight: bold;
}
.relatives h3{
    text-align: center;   
    margin-bottom:20px;
    font-size: 20px;
    font-weight: bold;
}
figure.image-and-pull-quote figcaption{
	padding: 16px 0;
	font-size: 22px;
}
.tint{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	position: absolute;
	pointer-events: none;
	transition: all .5s ease-out;
	left: 0;
}
.relatives .relatives-grid .relatives-grid-unit-1, .relatives .relatives-grid .relatives-grid-unit-2, .relatives .relatives-grid .relatives-grid-unit-3{
    background-size: 105% auto; 
    transform: translate3d(0,0,0);
    display: flex;
    justify-content: center;
    
    
}

.relatives .relatives-grid .relatives-grid-unit-1:hover .tint, .relatives .relatives-grid .relatives-grid-unit-2:hover .tint, .relatives .relatives-grid .relatives-grid-unit-3:hover .tint{
	background: rgba(0,0,0,.5);
}

.name-card-wrap .card-name, .name-card-wrap .link-portion .relation, .name-card-wrap .link-portion .cta{
    font-style: normal;   
}
.name-card-wrap .link-portion .relation{
	padding: 6px 0 16px;
}
.name-card-wrap .card-name{
	bottom: -32px;
	font-weight: 700;
	line-height: 12px;
	font-size: 13px;
}
.new-relatives-grid a .name-card-wrap{
    height: 287px;
}
.name-card-wrap .link-portion .cta{
    margin-top:-13px !important;   
}
.card-name{
    font-size:14px !important; 

}

.home-slider .image-belt:before, .home-slider .image-belt:after{
	opacity: .2;
}
/*.home-slider [class^="icon-arrow"]{
	color:rgba(255,255,255,1);
}*/
.new-relatives-grid a .name-card-wrap, .home-slider .story-target{

    -webkit-transform: scale(1) translateZ(0);
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
       -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
         -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
            transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}
.home-slider .story-target:hover{
	-webkit-transform: scale(1.05) translateZ(0);
}
.new-relatives-grid a .name-card-wrap:hover{
    -webkit-transform: scale(1.1);
}
.nav-avatar, .nav-fade, .nav-name, .logohome img, .card-avatar{
-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
    
}


section.text-container{
  background-color: rgba(255,255,255,1) !important;
}
.home-slider{
	height: 750px;
}
html, body, .perspective {
	width: 100%;
	height: 100%;
}
.nav-relatives-grid a{
	text-decoration: none;
}

.nav-relatives-grid .nav-name{
	margin-top: 5px;
	font-family: proxima;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	padding: 3px 5px;
	border-radius: 3px;
}

.nav-name:hover{
	
	background: rgba(0,0,0,.9);
	
}
.nav-relatives-grid .nav-avatar{
	width: 125px;
	height: 125px;
	overflow: hidden;
	position: relative;
	margin: 20px 20px 5px;
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
}
/*.nav-relatives-grid .nav-avatar:hover{
	box-shadow: 0px 0px 0px 6px rgba(0,0,0,.5), 0px 0px 0px 30px rgba(255,255,255,.2);
	
}*/
.nav-avatar img{
	position: relative;
	left: -25%;
	height: 125px;
    cursor: pointer;
	
}
.nav-fade{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
    cursor: pointer;
    rgba(0,0,0,.9)
}
.nav-avatar img{
    -webkit-filter: grayscale(100%) contrast(120%) brightness(70%);   
    transition: all 3000ms ease-out;
}
.nav-relatives-grid a:hover .nav-avatar img{
	-webkit-filter: grayscale(0%) contrast(100%) brightness(100%);
	transition: all 300ms ease-out;
}

.perspective {
	background: #aaa;
	position: relative;
}

.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	position: relative;
}

.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
    
}

.modalview .container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-transform: translateY(0%) translateZ(0px);
	transform: translateY(0%) translateZ(0px);
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
	opacity: 1;
	height: 100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
}

.outer-nav.vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.horizontal {
	left: 50%;
	width: 85%;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 25%;
}

.outer-nav.top {
	top: 30%;
}

.outer-nav.bottom {
	bottom: 25%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	margin: 0 0 30px 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


/* Individual Effects */
/* Effect Move Down */
.effect-movedown {
	background: url('../img/navbg.jpg') no-repeat;
	
	background-position: center;
	background-size: cover;
/*	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(134, 19, 23)), to(rgb(225, 37, 20)));
	background-image: -webkit-linear-gradient(top, rgb(134, 19, 23), rgb(225, 37, 20));
	background-image: -moz-linear-gradient(top, rgb(134, 19, 23), rgb(225, 37, 20));
	background-image: -o-linear-gradient(top, rgb(134, 19, 23), rgb(225, 37, 20));
	background-image: -ms-linear-gradient(top, rgb(134, 19, 23), rgb(225, 37, 20));
	background-image: linear-gradient(top, rgb(134, 19, 23), rgb(225, 37, 20));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#861317', EndColorStr='#e12514');*/
	
}
header{
	opacity: 1;
	transform: translateY(0);
	transition: all .3s ease-out;
}
.hideheader{
	opacity: 0;
	transform: translateY(-60px);
}
.effect-movedown .container {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	transform: translateY(0%) translateZ(0px);
/*
    -webkit-transform: translateY(0%) translateZ(0px);
	transform: translateY(0%) translateZ(0px);
*/
}

.effect-movedown .container::after {
/*
	background: rgba(174, 29, 34, 0);
	outline: 10px solid white;
	outline-offset: -10px;
*/
}

.effect-movedown.animate .container {
	-webkit-transform: translateY(120%) translateZ(-1500px) scale(1);
	transform: translateY(120%) translateZ(-1500px) scale(1);
}
.effect-movedown.animate .container:hover {
	-webkit-transform: translateY(120%) translateZ(-1500px) scale(1.1);
	transform: translateY(120%) translateZ(-1500px) scale(1.1);
}
.no-csstransforms3d .effect-movedown.animate .container {
	top: 75%;
}

.effect-movedown .outer-nav a {
	opacity: 0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.effect-movedown .outer-nav a:hover {
	color: #ed8151;
}

.effect-movedown.animate .outer-nav a {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.effect-movedown.animate .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.effect-movedown.animate .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.effect-movedown.animate .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.effect-movedown.animate .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.effect-movedown.animate .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.effect-movedown.animate .outer-nav a:nth-child(7) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

.effect-movedown.animate .outer-nav a:nth-child(8) {
	-webkit-transition-delay: 0.28s;
	transition-delay: 0.28s;
}



/* Media Queries */
@media screen and (max-width: 77em) {
	
	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
}


/*iphone*/
@media screen and (max-width: 36.625em), screen and (max-height: 40.75em) {

	.outer-nav.top {
		top: 0%;
	}

	.outer-nav.bottom {
		bottom: 2%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: center;
		margin-bottom: 0px;
	}
	.nav-avatar{
		display: none;
	}
	
    .logohome img{
    display: none;
    }  
    
	/* Special Case */
	.effect-rotatetop .outer-nav.horizontal {
		width: 95%;
		bottom: auto;
		top: 50%;
	}

	.effect-rotatetop .outer-nav.horizontal a {
		display: inline-block;
	}

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav.horizontal,
	.outer-nav.vertical {
		width: 6.8em;
	}
    .outer-nav.top {
		top: 0%;
	}
    .logohome img{
    display: none;
    }  
     
	.outer-nav.right {
		right: auto;
		left: 50%;
	}
}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
	
	}