<!DOCTYPE html>
<html class="{% if page.home %}page-home{% endif %} {{ page.type }}">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,900italic,400,900' rel='stylesheet' type='text/css'>
  <title>{% if page.title %} {{ page.title }} | {% endif %} THE DaROZA DYNASTY</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/assets/css/screen.css">
  <link rel="stylesheet" href="/assets/css/component.css">
  <script src="/assets/js/modernizr.custom.25376.js" type="text/javascript"></script>

  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    
<header id="header">
  
  <nav>

    <h1 id="showMenu"><span>THE DaROZA DYNASTY</span></h1>
  
  </nav>
  
</header>

  <div id="perspective" class="perspective effect-movedown">
  		<div class="container">
  	        <div class="wrapper"><!-- wrapper needed for scroll -->

  {{ content }}
  
  
  <footer>
      <p>It has taken years to collect, curate and record my family's history and I've barely scratched the surface. What you see in this document is an exploration of an atypical Californian family. A common theme throughout my lineage is strong women providing for themselves and their kin passed their due. It's clear to see the turning points in my Great Great Grandmother's life and how it has rippled down generations.</p>
      
      <p>Each person portrayed here is done so with love and kindness, and I hope that I have done their character justice.</p>
    <img src="/assets/img/logo.svg" class="logo-footer" />
    <h3>A Study Of Family</h3>
    <p>by Jonathan Haggard</p>
    <p class="colophon">All icons from <a href="http://thenounproject.com/">The Noun Project</a>.</p>
  </footer>
  
			</div><!-- wrapper -->
		</div><!-- /container -->

<nav class="outer-nav top horizontal">
<a class="logohome" href="/"><img src="/assets/img/logo-nav.svg"/></a>
<div class="positionernav">

<section class="relatives">
	<div class="nav-relatives-grid">
	
	<!-- change to new-relatives-grid for cards -->
	  
	  <a href="/gail-haggard">
		  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/gail-haggard.jpg" alt="" /></div>
		  
		  <span class="nav-name">Gail Haggard</span>
	  </a>
	  
      <a href="/lorraine-daroza">
		  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/lorraine-daroza.jpg" alt="" /></div>
		  
		  <span class="nav-name">Lorraine DaRoza</span>
	  </a>    
        
	  <a href="/gwen-wilder">
		  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/gwen-wilder.jpg" alt="" /></div>
		  
		  <span class="nav-name">Gwen Wilder</span>
	  </a>
	  
	  <a href="/flora-daroza">
	  	  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/flora-daroza.jpg" alt="" /></div>
	  	  
	  	  <span class="nav-name">Flora DaRoza</span>
	  </a>
	  
	  <a href="/wes-costa">
	  	  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/wes-costa.jpg" alt="" /></div>
	  	  
	  	  <span class="nav-name">Wes Costa</span>
	  </a>
	  
	  <a href="/julia-coster">
	  	  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/julia-coster.jpg" alt="" /></div>
	  	  
	  	  <span class="nav-name">Julia Coster</span>
	  </a>
	  
	  <a href="/greg-costa">
	  	  <div class="nav-avatar"><div class="nav-fade"></div><img src="/assets/img/card-thumbs/greg-costa.jpg" alt="" /></div>
	  	  
	  	  <span class="nav-name">Greg Costa</span>
	  </a>
	  
	</div>
</section>
</div>
</nav>

</div><!-- /perspective -->

<script src="/assets/js/classie.js" type="text/javascript"></script>
<script src="/assets/js/menu.js" type="text/javascript"></script>
<script src="/assets/js/functions-ck.js"></script>
<script src="/assets/js/fittext.js"></script>
<script type="text/javascript">
  fitText(document.getElementsByClassName('fittext'), 1.2)
</script>
<!-- REMEMBER TO TRACK! -->
</body>
</html>